.c-weather-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 15px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__tabs {
    margin-bottom: 20px;
  }

  &__search-panel {
    display: flex;
    flex-direction: column;
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    // outline: none;
    font-weight: 500;

    &-item {
      padding: 15px 20px;
      background-color: $light;
      transition: background-color 0.2s ease;
    }
  }

  &__forecast-day {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-bottom: 30px;
    border-radius: $border-radius-sm;
    padding: 15px;
    background-color: $primary;

    &-item {
      margin-right: 20px;
      min-width: 200px;
      color: $light;
    }
  }

  &__data-item {
    margin-bottom: 10px;
  }

  @media (min-width: 600px) {
    & {
      min-width: 400px;
    }
  }

  @media (min-width: 768px) {
    & {
      min-width: 600px;
    }
  }
}
