.dark {
  .o-footer {
    background-color: $dark;
    color: $light;
  }
}

.o-footer {
  padding: 15px 0;
  background-color: $light-200;
  color: $dark;
  transition: 0.3s background-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .o-footer {
    padding: 30px 0;
  }
}
