$primary: #525fe1;
$primary-200: #4451dc;
$primary-300: #2938dd;

$danger: #f86f03;
$danger-200: #eb6804;

$warning: #ffa41b;

$light: #fff6f4;
$light-200: #fcede9;
$light-300: #f3dcba;

$dark: #212121;
$dark-200: #191d20;
