$primary: #525FE1;
$primary-200: #4451dc;
$primary-300: #2938dd;

$danger: #F86F03;
$danger-200: #eb6804;

$warning: #FFA41B;

$light: #FFF6F4;
$light-200: #fcede9;
$light-300: #f3dcba;

$dark: #212121;