body {
  font-family: $font-base;
}

.container {
  max-width: $container-width;
  width: calc(100% - 30px);
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding: 10px 0;
}

.router-link-active {
  background-color: $primary !important;
  color: $light !important;
}

.light  {
  background-color: $light;
  color: $dark;
}

.dark {
  background-color: $dark-200;
  color: $light;
  transition: 0.3s background-color;
}